<div class="my-5" style="font-size: 1.2em;">
  <div class="fancy-font text-center pb-3">
    <span class="h1">What is this?</span>
  </div>

  <div class="card my-4">
    <div class="card-body p-5">
      <div class="fancy-font mb-3 h4">Create a Mock API in Seconds</div>
      <div>
        Starting a new app? Don't want to worry about the backend? Throw together an API here and get hacking!
      </div>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body p-5">
      <div class="fancy-font mb-3 h4">No Account, Free Forever</div>
      <div>
        Hate having to sign up? Don't worry, we don't even have that feature!
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-body p-5">
      <div class="fancy-font mb-3 h4">Share Your Space with Teammates</div>
      <div>
        Working with other people? No problem, share your secret link with others to give them access!
      </div>
    </div>
  </div>
</div>
